/* Inserisco questa fromattazione predefinita per tutto il foglio di stile */
* {
    padding: 0 px;
    margin: 0px;
}



/* Inserisco lo stile per l'header e i suoi componenti */
#booleaner-top {
    background-color: rgb(74, 132, 209);
    background-image: url(../img/pattern.png);
    background-size: 35%;
    background-position-y: 20%;
}

.header-text {
    padding: 3px;
}

.header-text p {
    font-size: medium;
    color: lightslategray;
}

#booleaner {
    padding-top: 40px;
    padding-left: 5px;
    width: 230px;
    height: auto;
}

.author {
    color: rgb(74, 132, 209);
}

.date {
    font-size: small;
}



/* Inserisco lo stile per il main */
main {
    padding: 3px;
}

.photo-description {
    font-size: small;
}

.main-text {
    padding: 15px 1px;
}

main>ul {
    padding: 15px;
}

.yellow-word {
    background-color: yellow;
}

thead {
    background-color: lightskyblue;
    color: white;
}

table {
    padding: 10px 0px;
}

.row-blu {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    border: 0;
}

th,
td {
    width: 500px;
    border: 0;
}



/* Inserisco lo stile del footer */
footer {
    padding: 0px 5px;
}

.text-ending {
    color: grey;
    font-weight: 800;
}

.footer-image-text {
    width: 200px;
    height: 130px;
    color: white;
    font-weight: 600;
    padding : 20px 20px;
    margin-bottom: 10px;

}

#im1 {
    background-image: url(../img/monitor.jpg);
}

#im2 {
    background-image: url(../img/graph.jpg);
}
